<section>
    <div class="areaImagem login">
        <a href="index.html">
            <img src="../assets/componentes/logow.png" style="max-height: 100%; width: 150px; margin: 25px;"
                alt="Arteza logo">
        </a>
    </div>
    <div class="areaForm">
        <div class="formulario">
            <h1>De volta ao Arteza!</h1>

            <div>
                <p>Username</p>
                <input type="text" id="input_username">
            </div>

            <div>
                <div class="esqueceuSenha">
                    <p>Senha</p>
                </div>
                <input type="password" id="input_senha">
            </div>

            <button (click)="entrar()" id="btnAvancar">Login</button>

            <span>Não possui uma conta? <a href="cadastro.html"><b>Cadastrar</b></a></span>
        </div>
    </div>
</section>