    <header>
        <div class="container">
            <a href="feed.html">
                <img src="../assets/componentes/logo.png" style="max-height: 100%; width: 150px;" alt="Arteza logo">
            </a>

            <div class="nav">
                <div style="gap: 50px;">
                    <a href="../feed/feed.html">INICIO</a>
                    <a href="../feed/explorar.html">EXPLORAR</a>
                </div>

                <input type="text" placeholder="Pesquisar" id="input_pesquisa" oninput="pesquisar()">
            </div>

            <div class="perfil">
                <div class="criar">
                    <a href="../perfil/criar.html">
                        <i class="bi bi-plus-circle"></i>
                        <h3>CRIAR</h3>
                    </a>
                </div>

                <a id="header_imgPerfil">

                </a>
            </div>

            <div id="dropDownPerfil">
                <div class="opcaoDrop"  id="div_perfil"  onclick="perfil(sessionStorage.ID_USUARIO)">
                    <div>
                        <i class="bi bi-person-fill"></i>
                        <p>Perfil</p>
                    </div>
                </div>
                <div class="opcaoDrop" id="div_sair" onclick="limparSessao()">
                    <div>
                        <i class="bi bi-box-arrow-left"></i>
                        <p>Sair</p>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <div id="div_alerta">

    </div>

    <div class="gambiarra"></div>

    <section class="areaCards" id="div_pesquisa">
        <div id="headerResultado">
            <h1 id="texto_resultado"></h1>
        </div>
        <div class="pin_container" id="feed_teste">

        </div>
    </section>

    <footer>
        <div class="areaNav">
            <a href="#">INICIO</a>
            <a href="explorar.html">EXPLORAR</a>
        </div>
        <div class="areaInfos">
            <img src="../assets/componentes/logow.png" style="height: 30px; width: auto;" alt="Arteza logo">
        </div>
    </footer>